* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(70, 70, 70);
    height: 100vh;
}

header {
    display: flex;
    height: 15%;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    font-size: 40px;
}

#login {
    /* display: flex; */
    align-items: flex-end;
}

#rubrik {
    display: flex;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    height: 100%;
}

#loginForm button {
    width: 50%;
}

#loginForm input {
    background-color: rgba(228,228,228,.5);
}

button:hover {
    cursor: pointer;
}

#palettes {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

#palettes > div {
    background-color: rgb(42, 42, 42);
    padding: 10px;
}

#userPalettes {
    flex-basis: 65%;
}

#ownPalettes {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-rows: 10vw;
    gap: 15px;
    overflow-y: scroll;
    height: 90%;
    overflow-x: hidden;
}

#allUsersPalettes {
    overflow-y: scroll;
    height: 90%;
}

.outerShell {
    border: 1px solid lightgrey;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px;
}

.infoBox {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.namnBox {
    display: flex;
    flex-basis: 40%;
}

.colorCircle {
    height: 60%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.colorCircle div {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    flex-basis: 4vw;
    height: 4vw;
}

.colorCircle div:nth-of-type(2){margin-left: 3px;}
.colorCircle div:nth-of-type(3){margin-left: 3px;}
.colorCircle div:nth-of-type(4){margin-left: 3px;}
.colorCircle div:nth-of-type(5){margin-left: 3px;}

#allPalettes {
    flex-basis: 30%;
}

.controls {
    display: flex;
    align-items: center;
    height: 10%;
}

#controls {
    justify-content: space-between;
}

button {
    color: black;
}

input {
    color: black;
}

#palettes button {
    height: 50%;
    flex-basis: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#palettes button img {
    height: 70%;
}

.delete {
    height: 80%;
}

.delete:hover {
    cursor: pointer;
}

#message {
    font-size: 12px;
}

@keyframes messageAnimation {
    0% {
        color: white;
    }
    75% {
        color: white;
    }

    100% { 
        color: transparent;
    }
}

@keyframes newPaletteAnimation {
    0% {
        color: white;
        background-color: white;
    }
    75%{
        color: white;
        background-color: white;
    }
    100% {
        color: inherit;
        background-color: inherit;
        
    }
}
